{% comment %} EE . Hero Banner - placeholder. Replace with final section code. {% endcomment %}
<section class="ee-hero">
<div class="ee-hero_placeholder">EE Hero Banner (placeholder) </div>
</section>

