{% comment %} EE . Hero Banner - placeholder. Replace with final section code. {% endcomment %}
<section class="ee-hero">
<div class="ee-hero_placeholder">EE Hero Banner (placeholder) </div>
</section>

{% schema %}
{
    "name": "EE Hero Banner",
    "settings":[
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "welcome to Our Store"

        },
        {
            "type": "image_picker";
            "id": "background_image",
            "label": "Background Image", 
              
        }
    ]
}
{% endSchema %}

<section class="ee-hero-banner">
<div class="ee-banner-wrapper" style="background_image:url({{ section.settings.background_image | image_url}})">
<h1>{{ section.settings.heading}}</h1>
</div>
</section>

<style>
.ee-hero-banner{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background_size: cover;
    background_position: center;
    text-align: center;
}

.ee-heo-banner h1{
    font-size: 2rem;
    color: white;

}
@media (max-width: 768px){
    .ee-hero-banner{
        min-height: 250px;
        padding: 20px;
    }

    .ee-hero-banner h1{
        font-size: 1.5rem;
    }
}

</style>
